#container{
  width: 100%; 
  margin: 0% .5%;
  position: relative;
  float: left;
}

.map_window { 
  height: 80%; 
  min-height: 200px;
  width: 32%;
  min-width: 175px;
  margin: .5%;
  position: relative;
  float: left;
}

