#container{
  width: 100%; 
  margin: 0% .5%;
  position: relative;
  float: left;
}

.map_window { 
  height: 98%; 
  min-height: 200px;
  width: 32%;
  min-width: 175px;
  margin: .5%;
  position: relative;
  float: left;
  z-index: -1;
}

.map_window_inner { 
  height: 75%; 
  width: 50%;
  margin: 5%;
  position: relative;
  float: right;
}

