#container{
  width: 100%; 
  margin: 2%;
  position: relative;
  float: left;
}

.map_window { 
  height: 80%; 
  min-height: 200px;
  width: 30%;
  min-width: 175px;
  margin: 1%;
  position: relative;
  float: left;
}

